header > .top-line {
		background-color: #808080;
		height: 35px;
}

header > .supp-line {
		height: 70px;
		border-bottom: 1px solid #808080;
		font-size: 20;
		text-align: center;

}
	
.products {
	position: relative;
	text-align: center;
	font-size: 20;
	border: solid;
	padding: 10px;
}

.tov {
	text-align: center;
	font-size: 20;
}

.container {
	text-align: center;
	border: solid 2px #001000;
	width: 600px;
	height: 300px;
	margin: auto;
	position: relative;
}

.price {
	position: absolute;
	bottom: 0px;
	left: 25px;
	font-size: 25px;
	padding: 10px;
}

.container button {
	position: absolute;
	bottom: 25px;
	right: 25px;
	font-size: 25px;
	padding: 10px;
}

.footer {
	width: 100%;
	border: 2px #321321 solid;
	text-align: center;
	background-color: #808080;
	padding: 10px;
}